{% macro widget(key, type) %}
    {% set current = context.get(key) %}
    {% set kws = kwargs %}
    {% include 'widgets/'+type+'.html' %}
{% endmacro %}
{% macro heading() %}
<table class="g_heading">
    <td class="dbl_lines"><span></span></td>
    <td><h4>{{ caller() }}</h4></td>
    <td class="dbl_lines"><span></span></td>
</table>
{% endmacro %}
<html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/jquery.js"></script>
    <script>
        document.domain = document.domain.split('.').slice(-3).join('.');
    </script>
    <title>Tomu Sushi | {{ title }}</title>
</head>
<body>
    <div id="g_wrapper">
        <div class="g_endstop"><div class="g_col">
            <div class="inset" style="float: left;"><div class="inset_inner">
                {{ widget('phone', 'input') }}
            </div></div>
        </div></div>
        <div id="g_main" class="g_col">
            <div id="g_header">
                <div style="float: left;">
                    {{ widget('logo', 'img', mheight="125px", mwidth="400px") }}
                </div>
                <nav><ul>
                    <li><a href="/">Home
                        <span class="slash">/</span></a></li>
                    <!--<li><a href="/about">About
                        <span class="slash">/</span></a></li> -->
                    <li><a href="/menu">Menu</a></li>
                </ul></nav>
                <div style="clear: both;"></div>
            </div>
            
            {% block content %}
            {% endblock %}
            
        </div>
        <div id="g_tail_endstop" class="g_endstop"><div class="g_col" style="text-align: center;">
            Produced by Waterloo Web Dev
            <span style="float: right; font-size: 12px;">
                {% if not isEditor %}
                    <a href="//tomusushi.wwd.com/{{ page_url }}">edit</a>
                {% endif %}
            </span>
        </div></div>
    </div> 
{% if mode=="edit" %}
    <script src="/js/edit.js"></script>  
{% endif %}
</body>
</html>