{% if mode=="view" %}

<style>
    .menu table{
        width: 900px;
        border-spacing: 0;
        margin: 15px 0;
        border: 1px solid darkgrey;
    }
    .menu tr:nth-child(odd) td{
        background-color: #e5e2d4;
    }
    .menu tr:nth-child(even) td{
        background-color: #f8f6eb;
    }
    .menu_heading{
        background-color: inherit !important;
    }
    .menu_heading h3{
        padding: 0 15px;
        margin: 0;
        font-size: 30px;
        font-weight: 300;
    }
    .menu td{
        vertical-align: middle;
        padding: 5px;
    }
    .menu .img{
        width: 175px;
        height: 175px;
        text-align: center;
    }
    .menu .img img{
        max-height: 100%;
        max-width: 100%;
    }
    .menu tr:nth-child(odd) td.img_col{
        background-color: #c4c2b8;
    }
    .menu tr:nth-child(even) td.img_col{
        background-color: #e6e3d3;
    }
    .menu .title{
        padding-left: 18px;
        width: 165px
    }
    .menu .desc{
        font-style:italic; 
    }
    .menu .price{
        width: 85px;
    }
</style>
<div  id="{{widget}}" class="menu">
<table>
    {% for item in current %}
    {% if item['type'] == 'heading' %}
    {% if not loop.first %} </table><table> {% endif %}
    <tr>
        <td class="menu_heading" colspan="3"><h3>{{item['value']}}</h3></td>
    </tr>
    {% elif item['type'] == 'item' %}
    <tr>
        {% if item.get('img') %}
            <td class="img img_col">
                <img src="{{item['img']}}" />
            </td>
        {% else  %}
        <td class="img_empty img_col"></td>
        {% endif %}
        <td class="title">{{ item['title'] }}</td>
        <td class="desc">{{ item['desc'] }}</td>
        <td class="price">{{ item['price'] }}</td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
</div>
<script>
    (function(){
        var main = $('#{{widget}}')
        main.find('table').each(function(i, table){
            if($(table).find('.img').length == 0){
                $(table).find('.img_empty').hide()
            }
        })
    }())
</script>

{% elif mode=="edit" %}
<style>
    .sortable{ margin: 0; }
    .sortable table{
        margin: 2px;
        width: 100%;
        border-spacing: 0;
    }
    .sortable td{
        background-color: #dff6e2; 
        vertical-align: middle;
        padding: 8px;
    }
    .sortable.yellow td{
        background-color: #ffffc0;
    }
    .sortable input{
        margin: 0;
        padding: 3px;
    }
    .sortable .handle{
        cursor: move;
        width: 44px;
        padding: 0;
    }
    .sortable .img{
        width: 180px;
        text-align: center;
        vertical-align: center;
        position: relative;
    }
    .sortable .img.tall{
        height: 180px;
    }
    .sortable .menu_img_form{
        margin: 0;
    }
    .sortable .img img{
        max-height: 100%;
        max-width: 100%;
    }
    .sortable .img input{
        width: 95px;
        float: left;
        position: absolute;
        top: 6px;
        left: 16px;
    }
    .sortable .img_remove{
        position: absolute;
        top: 7px;
        right: 15px;
        background-color: rgb(235, 235, 235);
        font-family: arial;
        font-weight: bold;
        font-size: 20px;
        height: 20px;
        width: 19px;
        line-height: 18px;
        border-radius: 4px;
        border: 2px solid grey;
        color: rgb(233, 131, 131);
        cursor: pointer;
    }
    .sortable .title{
        width: 175px;
    }
    .sortable .price{
        width: 110px;
    }
    .sortable .remove{
        width: 40px;
        padding: 0;
    }
    .sortable .remove img{
        cursor: pointer;
        width: 30px;
    }
    .sortable table.menu_heading input{
        font-weight: bold;
        font-size: 18px;
        width: 100%;
    }
    .add{
        margin-top: 20px;
        font-size: 20px;
        font-weight: normal;
        width: 100%;
    }
    .add img{
        width:60px;
        display: inline-block;
        vertical-align: middle;
    }
    .add_item, .add_heading{
        cursor: pointer;
    }
    .ui-sortable-placeholder{
        visibility: visibile !important;
    }
</style>

<div id="{{widget}}_widget" class="sortable" style="padding-top: 5px">
    {% for item in current %}
    <div>
    {% if item['type'] == 'heading' %}
    <table class="menu_heading"><tr>
        <td class="handle"><img src="/img/handle.png"></td>
        <td><input type="text" value="{{item['value']}}" /></td>
        <td class="remove"><img src="/img/minus.gif"></td> 
    </tr></table>
    
    {% elif item['type'] == 'item' %}
    <table><tr>
        <td class="handle"><img src="/img/handle.png" /></td>
        <td class="img {{ 'tall' if item['img'] else '' }}">
            <form class="menu_img_form" enctype="multipart/form-data" method="post">
                <input type="hidden" name="widget" value="{{widget}}" />
                <input type="file" name="value" />
                {% if(item['img']) %}
                <img class="main" src="{{item['img']}}" />
                <div class="img_remove">&times;</div>
                {% endif %}
            </form>
        </td>
        <td class="title"><input type="text" value="{{item['title']}}" /></td>
        <td class="desc"><input type="text" value="{{item['desc']}}" /></td>
        <td class="price"><input type="text" value="{{item['price']}}" /></td>
        <td class="remove"><img src="/img/minus.gif" /></td>
    </tr></table>
    {% endif %}
    </div>
    {% endfor %}
</div>
<table class="add"><tr>
    <td>
        <h3 class="add_item"><img src="img/plus.png" />Add item</h3>
    </td>
    <td>
        <h3 class="add_heading"><img src="img/plus.png" />Add heading</h3>
    </td>
</tr></table>


<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
    function update_img(t){    
        var formData = new FormData(t[0]);
        
        return $.ajax({
            url: '/upload',
            type: 'post',
            data: formData,
            cache: false,
            contentType: false,
            processData: false
        }).then(function(resp){
            var td = t.closest('td'),
                img = td.find('img');
            if(img.length){
                img.attr('src', resp)   
            }
            else{
                td.addClass('tall')
                td.append('<img class="main" src="'+resp+'" />')
                    .append('<div class="img_remove">&times;</div>')
            }
        })
    }
    
    function generate_menu(t){
        return $.map(t.find('table'), function(table){
            var table = $(table)
            if(table.hasClass('menu_heading')){
                var row = {
                    type: 'heading',
                    value: table.find('input').val()
                }
            }
            else{
                var img = table.find('img.main')
                    img_src = (img.length ? img.attr('src') : '');
                var row = {
                    type: 'item',
                    img: img_src,
                    title: table.find('.title input').val(),
                    desc: table.find('.desc input').val(),
                    price: table.find('.price input').val()
                }
            }
            return row
        })
    }
    
    menu_changes = {}
    function update_menu(menu, key){
        menu.addClass('yellow')
        
        if(menu_changes[key]){
            if(typeof menu_changes[key] == "number")
                clearTimeout(menu_changes[key]);
            else if(typeof menu_changes[key] == "object")
                menu_changes[key].abort()
                menu_changes[key] = false
        }
        menu_changes[key] = setTimeout(function(){
            $.ajax({
                url: '/alter',
                type: 'post',
                data: {
                    type: "menu",
                    key: key,
                    value: JSON.stringify(generate_menu(menu)),
                }
            }).then(function(){
                menu.removeClass('yellow')
                menu_changes[key] = false
            })
        }, 2000)
    }

    $('.sortable').each(function(i, menu_el){
        var menu = $(menu_el),
            key = menu.attr('id').slice(0,-7)
        
        menu.disableSelection()
            .sortable({
                containment: "parent", 
                tolerance: "pointer", 
                handle: ".handle", 
                change: function(){ update_menu(menu, key) },
                paceholder: 'barble'
            })

        menu.on('click', '.remove img', function(){
            $(this).closest('table').remove()
            update_menu(menu, key)
        })

        menu.on('input', 'input[type=text]',function(){ 
            update_menu(menu, key)
        })

        menu.on('change', 'input[type=file]', function(){
            var img_form = $(this).closest('form')
            update_img(img_form)
                .then(function(){ update_menu(menu, key) })
        })

        menu.on('click', '.img_remove', function(){
            var td = $(this).closest('td')
            td.removeClass('tall')
            td.find('img, .img_remove').remove()
            update_menu(menu, key) 
        })
        
        var add = menu.next('.add')
        add.find('.add_item').on('click', function(){
            menu.append('<table><tr> \
        <td class="handle"><img src="/img/handle.png"></td> \
        <td class="img "> \
            <form class="menu_img_form" enctype="multipart/form-data" method="post"> \
                <input type="hidden" name="widget" value="menu"> \
                <input type="file" name="value"> \
        </form></td> \
        <td class="title"><input type="text" value="Menu Item" /></td> \
        <td class="desc"><input type="text" value="Description"></td> \
        <td class="price"><input type="text" value="Price"></td> \
        <td class="remove"><img src="/img/minus.gif"></td> \
    </tr></table>')
            update_menu(menu, key) 
        })
        
        add.find('.add_heading').on('click', function(){
            menu.append('<table class="menu_heading"><tr>\
        <td class="handle"><img src="/img/handle.png"></td>\
        <td><input type="text" value="Heading" /></td>\
        <td class="remove"><img src="/img/minus.gif"></td> \
            </tr></table>')
            update_menu(menu, key) 
        })
        
    })
        
</script>

{% endif %}