<div id="{{key}}_widget" class="img_wrapper" style="position: relative;">
<img src="{{ current }}" style="margin: auto; max-height: {{ kws['mheight'] }}; max-width: {{ kws['mwidth'] }}"/>

{% if mode == "edit" %}
<div style="position: absolute; right: 10px; top: 10px;">
{% include('widgets/bits/img_upload.html') %}
</div>
<script type="text/javascript">
    (function(root){
        root.on('upload', function(e, url){
            alter_context(root, url, 0, function(){ root.find('img').attr('src', url) })
        })
    }($('#{{key}}_widget')))
</script>
{% endif %}
</div>