{% if mode == "view" %}
<style>
    .slideshow_widget{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    #{{key}}_widget img{
        max-height: {{kws['mheight']}};
        max-width: {{kws['mwidth']}};
    }
    
    .slideshow_widget img{
        display: none;
    }
    .slideshow_widget img.first{
        display: inline-block;
    }
    .slide_container{
        border-collapse: collapse;
        position: absolute; 
        width: 100%;
        height: 100%;
        display: none;
        top: 0;
        left: 0;
    }
    .slide_container td{
        text-align: center;
        vertical-align: middle
        width: 100%;
        height: 100%;
    }
</style>
<div id="{{key}}_widget" class="slideshow_widget">
    <ul>
        {% for img in current %}
        <img src="{{img}}" {% if loop.first %}class="first"{% endif %} />
        {% endfor %}
    </ul>
</div>

<script>
    (function(root){ 
        var slide_container = '<table class="slide_container"><td></td></table>'
        var n_c = $(slide_container)
        var f = root.find('img.first')
        f.after(n_c)
        n_c.show()
            .find('td').append(f)
        
        setInterval(function(){
            if(root.find('img').length > 1){
                var old_container = root.find('table:visible')
                var next = old_container.next();
                if(! next.length) next = $('#{{key}}_widget img').first()

                var new_container = $(slide_container)
                next.after(new_container)
                new_container.find('td').append(next)
                next.show()
                
                old_container.fadeOut(400);
                new_container.css('z-index', '100')
                    .fadeIn(400)
                    .promise().done(function(){
                        cur = old_container.find('img')
                        cur.hide()
                        old_container.before(cur)
                        old_container.remove()
                        new_container.css('z-index', '1')
                    })  
            }
        }, 3500)
    }( $("#{{key}}_widget") )
    )
</script>




{% elif mode == "edit" %}
<style>        
    .slideshow_add_img{
        position: absolute;
        z-index: 2;
        background-color: lightgrey;
        border: 1px solid grey;
        height: 30px;
        width: 100%;
        text-align: center;
        line-height: 26px;
    }
    .slideshow_edit{
        padding-top: 30px;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .slideshow_edit .left, .slideshow_edit .right{
        cursor: pointer;
        position: absolute;
        z-index: 50;
        top: 50%;
        margin-top: -32px;
        height: 44px;
        width: 29px;
    }
    .slideshow_edit .left{
        background-image: url('img/left.png');
        left: 0;
    }
    .slideshow_edit .left:hover{
        background-image: url('img/left_highlight.png');
    }
    .slideshow_edit .right{
        background-image: url('img/right.png');
        right: 0;
    }
    .slideshow_edit .right:hover{
        background-image: url('img/right_highlight.png');
    }
    .slideshow_edit img{
        max-height: 100%;
        max-width: 100%;
        box-shadow: 1px 1px 5px 3px #464646;
    }
    .slideshow_wrapper{
        position: relative;
        white-space:nowrap;
        overflow-x: scroll;
        height: 100%;
        width: 100%;
        background-color: #dff6e2;
        box-shadow: 0px 0px 10px 2px #464646 inset;
    }
    .pending .slideshow_wrapper{
        background-color: #f1f8da;
    }
    .slideshow_shell{
        vertical-align: top;
        display: inline-block;
        text-align: center;
        height: 100%; 
        width: 100%;
    }
    .slideshow_shell:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    .slideshow_tight{
       display: inline-block;
       vertical-align: middle;
       position: relative;
       max-height: 85%;
       max-width: 85%;
    }
    .slideshow_remove{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: rgb(235, 235, 235);
        font-family: arial;
        font-weight: bold;
        font-size: 20px;
        height: 20px;
        width: 22px;
        line-height: 15px;
        border-radius: 4px;
        border: 2px solid grey;
        color: rgb(233, 131, 131);
        cursor: pointer;
    }
</style>
<div id="{{key}}_widget" class="slideshow_outer" style="position: relative; height: 100%; width: 100%;">
	<div class="slideshow_add_img">
		<strong>Add Image:</strong> &nbsp; {% include('widgets/bits/img_upload.html') %}
	</div>
	<div class="slideshow_edit">
		<span class="left"></span>
		<span class="right"></span>
		<div class="slideshow_wrapper"></div>
	</div>
</div>
<script>
    function add_img(root, src){
        root.find('.slideshow_wrapper').append('<div class="slideshow_shell"><!--\
            --><div class="slideshow_tight"><img \
            src="'+src+'" /><span  \
            class="slideshow_remove">x</span></div><!-- \
            --></div>');
    }

	( function(root){
        var alter_me = function(){
            var value = root.find('img').map(function(i, e){ return $(e).attr('src') }).get()
            alter_context(root, value, 0)
        }
		var wrap = root.find('.slideshow_wrapper');
        
		{% for src in current %}
		add_img(root, '{{src}}');
		{% endfor %}

		root.find('.right').on('click', function(){
			var scroll = wrap.scrollLeft();
			var cell_width = wrap.width();
			var next = Math.ceil((scroll+1)/cell_width)*cell_width;
			wrap.animate({scrollLeft: next}, 400);
		})
		root.find('.left').on('click', function(){
			var scroll = wrap.scrollLeft();
			var cell_width = wrap.width();
			var next = Math.floor((scroll-1)/cell_width)*cell_width;
			wrap.animate({scrollLeft: next}, 400);
		})
		root.on('click', '.slideshow_remove', function(){
			var shell = $(this).closest('.slideshow_shell')
                set_pending(root)
				shell.animate({width: 0}, 375).promise()
                    .then(function(){ shell.remove(); alter_me(); })
		})
		
		root.on('upload', '.img_upload', function(e, url){
			add_img(root, url);
            wrap.animate({scrollLeft: wrap.scrollLeft()+root.find('.slideshow_shell:last').position().left}, 500)
            alter_me();
            
		})
        root.on('upload_start', '.img_upload', function(e, url){
            set_pending(root)
        })
	} ($('.slideshow_outer').last()) )
</script>
{% endif %}